@model IEnumerable<Shopping_Cart.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>🛍 Product List</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            <th style="width: 200px;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                
                <td>
                    <form asp-action="AddToCart" asp-controller="Product" method="get" class="d-flex">
                        <input type="hidden" name="id" value="@item.PId" />
                        <input type="number" name="quantity" value="1" min="1" class="form-control me-2" style="width: 80px;" />
                        <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>